.header {
  height: 35rem;
  background-image: url(../images/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h1, .h2, .h3 {
  color: white;
}

.h1 {
  margin: 0;
  padding-left: 1rem;
  padding-top: 1rem;
}

.h2 {
  font-size: 3rem;
  text-align: center;
margin-top: 5rem;}

.h3 {
  font-size: 5rem;
text-align: center;
margin: 3rem;}

.button {
  background-color: silver;
  border-radius: 10px;
  padding: 1rem;
  min-width: 10rem;
  color: white;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 6rem;
}

.h4 {
  font-size: 2rem;
  text-align: center;
}

.p {
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 895px) {
  .header {
    height: 25rem;
  }
  .h1 {
    font-size: 0.8rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {font-size: 3rem;}
}

@media only screen and (max-width: 695px) {
  .textContainer {
      padding: 2rem 5rem;
  }
  .h4 {
    margin: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .textContainer {
      padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 525px) {
  .h4 {
    margin: 0.5rem
  }

  .p {margin: 0.5rem;}

  .textContainer {
    padding: 2rem;
  }
}

@media only screen and (max-width: 423px) {
  .h3 {
    margin: 2rem
  }
}

@media only screen and (max-width: 391px) {
  .h3 {margin: 1rem}
}

